.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
  margin-top:0.2em;
}

.Title-TopBar{
  margin: 0em 0em 0.2em 0em;
	padding: 0;
	border: 0;
	font: inherit;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-content {
  background-color: #ffffff;
  display: flex;
  min-height: 80%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 0.5vmin);
  color: #282c34;
  margin: 4em 0em 0em 0em;
}


.App-footer {
  background-color: #282c34;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 9.71em 0em 0em 0em;
  font-size: calc(10px + 0.5vmin);
  color: white;
}


.App-footer a {
  text-decoration: none;
  color: rgb(218, 77, 195);
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.title-table{
  font-family:Arial, Helvetica, sans-serif;
  font-weight:bold;
  font-size:calc(10px + 1vmin);
  margin: 0.4em 0em 0.2em 0em;
}

.pull-right{
  float: right;
}

.pull-left{
  float: left;
}


/* buttons */

.bt-add{
  margin: 0.5em 0em 0em 0em;
  border: 0;
  outline: none;
  font-size: small;
  box-shadow: none;
}

.bt-back{
  margin: 0.5em 0em 0em 0em;
  border: 0;
  outline: none;
  font-size: small;
  box-shadow: none;
}

.bt-edit{
  border: 0;
  outline: none;
  font-size: small;
  box-shadow: none;
}

.bt-remove{
  border: 0;
  outline: none;
  font-size: small;
  box-shadow: none;
}




